{% extends "base.html" %}

{% block title %}License Plate Highs Tracker{% endblock %}

{% block head %}
<style>
    body {
        font-family: sans-serif;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .outline {
        outline: #333333 solid 2px;
        display: inline-block;
        margin-bottom: 15px;
        padding: 5px;
        justify-content: left;
    }
</style>
{% endblock %}

{% block content %}
<div class="centered_box">
    <h1>Welcome, {{ username }}!</h1>

    <p style="font-size:6pt;">See old homepage: <a href="/static/temporary_index.html">link</a></p>

    {% if user.is_member %}
        <p>If you are seeing this message, you have the below permissions during development. For more information, contact <i>mrpenguin424</i> via Discord.<br>Click <a href="/todo">here</a> to see a list of to-dos pulled from Discord.</p>
        <p>Your current permissions level is: {% if user_permissions == 1 %}Submit{% elif user_permissions == 2 %}Moderate{% elif user_permissions == 3 %}Super-user{% endif %}</p>
    {% else %}
        <p>Please log in to see permissions. Discord is required at this time.</p>
    {% endif %}

    {% if logged_in %}

    {% else %}

    {% endif %}
</div>
{% endblock %}